TEST_DB_PARAMS = {
  :dbname => 'volunteer_tracker_test',
  :port=> 1234,
  :user => '',
  :password=> ''
}

DB_PARAMS = {
  :dbname => 'volunteer_tracker',
  :port=> 1234,
  :user => '',
  :password=> ''
}

# For Windows users: please fill out the above params to allow for correct connection to your DB
