<h3>Current Projects:</h3>
<% if @projects.any? %>
<table class="u-full-width">
  <thead>
    <tr>
      <th><a href="/projects?sort=title">Project Title</a></th>
      <th><a href="/projects?sort=volunteers">Volunteers Signed-Up</a></th>
      <th><a href="/projects?sort=hours">Hours Invested</a></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><a href="/projects/<%= project.id %>"><%= project.title %></a></td>
      <td><%= project.volunteers.length %></td>
      <td><%= project.get_hours %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>

<h3>Add a New Project:</h3>
<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Title:</label>
    <input id="new-project" name="title" class="u-full-width" type="text" required>
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>
