body, html {
  height: 100%;
}

body {
  background-color: #dce8e7;
}

.bg {
  background-image: url("img/bkgnd.jpg");
  height: 100%;
  background-position: center;
  background-size: fill;
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 30px;
  background-color: white;
  text-decoration: inherit;
  padding: 20px;
  border-radius: 30px;
  border: 3px solid darkgray;
}

a h1 {
  color: black;
}

.content {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  border: 3px solid darkgray;
}

p {
  margin: 15px;
  text-align: center;
}

button, .button {
  background-color: #defffc;
  margin: auto;
  width: 100%;
}
