h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 30px;
}

a h1 {
  color: black;
}

.content {
  background-color: lightgray;
  padding: 20px;
  border-radius: 30px;
}

p {
  text-align: center;
}
